.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
}

.product{
    padding: 5px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}