.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
}

h1 {
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

.item {
    padding: 5px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}